.titulo span {
  font-size: 2rem;
}

.navegacion-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    color: $blanco;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    &:hover {
      background-color: $primario;
      color: $oscuro;
    }
  }
  @include tablet_responsive {
    flex-direction: row;
    justify-content: space-between;
  }
}

.nav-bg {
  background-color: $secundario;
  border-radius: 3rem;
}
/*.navegacion-principal a 
  color: $blanco;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}*/
/*.navegacion-principal a:hover 
  background-color: $primario;
  color: $oscuro;
}*/
