.hero {
  background-image: url(../img/mar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 45rem;
  margin-bottom: 2rem;
  border-radius: 3rem;
}
.contenido-hero {
  /* background-color: rgba(0, 0, 0, 0.7);*/
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2,
  p {
    color: $blanco;
  }
}
/*.contenido-hero h2,
.contenido-hero p 
  color: var(--blanco);
}
*/
