.sombra {
  -webkit-box-shadow: 10px 10px 5px 1px rgba(148, 124, 148, 0.76);
  -moz-box-shadow: 10px 10px 5px 1px rgba(148, 124, 148, 0.76);
  box-shadow: 10px 10px 5px 1px rgba(148, 124, 148, 0.76);
  background-color: $blanco;
  padding: 2rem;
  border-radius: 1rem;
}
