$blanco: #ffffff;
$oscuro: #212121;
$primario: #edebd7;
$secundario: #bb9bb0;
$gris: #757575;
$gris-claro: #dfe9f3;

$primaryFont: 'Prata', serif;
$font_size_h1: 3.8rem;
$font_size_h2: 2.8rem;
$font_size_h3: 1.8rem;
